/* .header{
    text-align:center;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    color: black;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;


} */