.main,.buttonsContainer {
  
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.header{
text-align:center;
margin-top: 60px;
width:100%;
height:400px;
}


.container::before{
  content: "";
  position:fixed;
  inset:0;
  background-image: url('/Mountain.jpg');
        background-size: cover;
        background-position:center;
        z-index:-1;
        filter:blur(0px);
        transition: filter 1000ms ease;

}

.scrolled::before{
  filter: blur(15px);
}

.scrolled{
  background: rgba(0,0,0,0.25);
  backdrop-filter:blur(10px);
}

.title{
margin-bottom: 150px;
}
.buttons{
  text-align:center;
  width:100%;
  display:flex;
  justify-content:space-around
}
.buttonsContainer{
  padding-top:300px;
  margin:auto;
  margin-top:200px;
}


.btn:hover{
transform:scale(1.05);
transition: 250ms ease;
background: hsl(255,255,255,1);
border:none;
color: black;

}