.container{
    border: 1px solid ;
    margin-right:auto;
    margin-left:auto;
    height:100vh;
    background-image: url("/Mountain.jpg");
display:flex;
justify-content:space-between;
}

.header{
width: 100%;
text-align: center;

}


.leftSection{
    background: white;
    width: 600px;
    height:80vh;
    border-radius: 8px;
    margin-top:100px;
    margin-left:auto;
    margin-right: auto;
}


